<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="details content">
        <h2><%= equipment.name %></h2>
        <div class="content">
            <p><%= equipment.description %></p>
        </div>
        <a class="delete" data-doc="<%= equipment._id %> ">delete</a>
        
    </div>
    <%- include('../partials/footer.ejs') %>

    <script>
        const trashcan =  document.querySelector("a.delete");
        trashcan.addEventListener("click", e => {
            const endpoint = `/${trashcan.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then(response => response.json()) // JSON from the server
            .then(data => {
                console.log(data);
                window.location.href = data.redirect

            })
            .catch(err => console.log(err));
        })
    </script>
</body>
</html>