<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="equipment content">
        <h2>All Equipment</h2>
        <% if(equipment.length > 0) { %>
            <% equipment.forEach(e => { %>
                <a href="/<%= e._id %>">
                    <h3 class="name"><%= e.name %></h3>
                    <p class="snippet"><%= e.snippet %></p>
                </a>
            <% })%>
        <% } else { %>
            <p>There is no equipment to display!</p>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>